/* CASE STUDY PAGE
.cs-mockup {
  background-image: url("../images/case-study-1/mainmockup.png");
  text-align: center;
  height: 28rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.cs-intro-container {
  align-items: center;
  background-image: url("../images/case-study-1/mockup-no-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 80vh;
  overflow-x: hidden;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cs-intro-container2 {
  align-items: center;
  background-image: url("../images/case-study-2/background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  overflow-x: hidden;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 800px) {
  .cs-intro-container, .cs-intro-container2 {
      height: 85vh;
      justify-content: center;
  }
}

.cs-intro {
  background-color: rgba(255, 255, 255, .85);
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 3rem;
  text-align: left;
}

.cs-intro h1 {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 5rem;
}

.cs-intro p {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
}

@media screen and (min-width: 601px) {
  .cs-intro {
    max-width: 55rem;
  }

  .cs-intro h1 {
    font-size: 3.4rem;
    color: var(--black);
    font-weight: 600;
    line-height: 6rem;
  }

  .cs-intro p {
    color: var(--black);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
  }
}

.cs-specs {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: project-info;
  padding-top: 4rem;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .cs-specs {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 14rem;
    padding-right: 14rem;
    position: static;
    text-align: left;
  }
}

.cs-specs h4 {
  color: var(--red-pink);
}

.cs-specs ul {
  margin-bottom: 2rem;
}

.cs-specs li {
  color: var(--black);
  font-weight: 200;
  line-height: 1.8rem;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 700px) {
  .specs-padding {
    padding-right: 4rem;
  }
}

.cs-details {
  max-width: 64rem;
}

.cs-details {
  margin: 1rem 0rem;
  text-align: left;
}

.cs-details h1 {
  color: var(--red-pink);
  font-weight: 500;
}

.cs-details h2 {
  color: var(--gray);
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

#menuToggle {
  display: block;
  position: fixed;
  opacity: 0;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.5s linear;
}

#menuToggle.is-visible {
  transition: 0.8s linear;
  opacity:.97;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--gray);
  border-radius: 2px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Hamburger transforms into a crossmark.*/
#menuToggle input:checked ~ span {
  background: var(--lightgray);
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/* Hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Last slice goes the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#mobile-menu {
  height: 100%;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 11rem 5rem 100rem 5rem;
  right: -7rem;
  background: var(--black);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#mobile-menu li {
  font-weight: 500;
  line-height: 2.2rem;
  opacity: .9;
  padding: 1rem 0;
}

#mobile-menu a:visited, #mobile-menu a:link {
  color: var(--lightgray);
  opacity: .9;
}

#mobile-menu a:active, #mobile-menu a:hover {
  color: var(--red-pink);
  opacity: 1;
  transition: 0.4s;
}

/* Let slide it in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
}

#stickyMenu {
  display: none;
}

@media screen and (min-width: 900px) {
  #stickyMenu {
    background: var(--lightgray);
    display: flex;
    grid-area: sub-menu;
    height: 4rem;
    justify-content: space-around;
    text-align: center;
    z-index: 1;
  }

  #stickyMenu ul {
    display: flex;
    padding: 1rem 2.4rem;
  }

  #stickyMenu li {
    align-items: center;
    color: var(--black);
    display: flex;
    font-weight: 500;
    margin: 0 1rem;
  }

  #stickyMenu a:visited, #stickyMenu a:link {
    color: var(--black);
    opacity: .8;
  }

  #stickyMenu a:active, #stickyMenu a:hover {
    color: var(--red-pink);
    opacity: 1;
    transition: 0.8s;
  }

  #menuToggle {
    display: none;
  }

  #mobile-menu {
    display: none;
  }
}

.case-study-content {
  grid-area: content;
}

.case-study {
  background: var(--white);
  grid-area: case-study;
  padding: 2rem 2.4rem 12rem 2.4rem;
}

@media screen and (min-width: 700px) {
  .case-study {
    padding-left: 14rem;
    padding-right: 14rem;
  }
}
@media screen and (min-width: 1200px) {
  .case-study {
    padding-left: 22rem;
    padding-right: 22rem;
  }
}

.case-study h2 {
  color: var(--black);
  font-weight: 800;
  margin-top: 9rem;
  margin-bottom: 2rem;
  text-align: center;
}

.case-study h3 {
  color: var(--gray);
  font-weight: 600;
  margin-bottom: .5rem;
  margin-top: 3rem;
}

.case-study h4 {
  color: var(--black);
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.case-study p {
  color: var(--black);
}

.case-study ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.case-study ul {
  list-style-type: circle;
  margin: -.2rem 0 1.6rem 2.4rem;
}

.case-study img {
  margin-bottom: 2rem;
  position: relative;
  align-self: center;
}

.highlight {
  background-color: #F1E2E2;
  font-size: 1rem;
	border-radius: 1px;
}

.h-text {
  color: var(--black);
  font-size: 2.7rem;
  font-weight: 800;
  line-height: 3rem;
  text-align: center;
}

.col-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col1 {
  align-items: center;
  padding-bottom: .5rem;
}

.col2 {
  align-items: center;
  padding-bottom: .5rem;
}

@media screen and (min-width: 900px) {
  .col-container {
    align-items: flex-start;
    flex-direction: row;
  }

  .col1 {
    flex: 1 1 0;
    padding-right: 5rem;
  }

  .col2 {
    flex: 1 1 0;
    padding-bottom: 0;
  }

  .col2-img {
    flex: 1.5 1 0;
    padding-bottom: 0;
  }

  .col1 h4, .col2 h4 {
    margin-top: 0;
    padding-top: 0;
  }
}

.persona-grp {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.persona-grp img {
  height: 8rem;
  width: 8rem;
}

.persona-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 900px) {
  .persona-container {
    align-items: flex-start;
    flex-direction: row;
  }
}

.persona-container-col1, .persona-container-col2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media screen and (min-width: 900px) {
  .persona-container-col1, .persona-container-col2 {
    flex: 1 1 0;
    padding-right: 2rem;
  }
}

.persona-photo-container {
  margin-bottom: -17.5rem;
  position: relative;
}

.persona-photo-container img {
  align-self: center;
  border-radius: 1rem;
  height: 18.5rem;
  width: 18.5rem;
}

.persona-bio {
  top: -9rem;
  left: 1.1rem;
  position: relative;
  z-index: 0;
}

.persona-bio h3  {
  color: #fff;
  font-weight: 500;
  line-height: 2.5rem;
  margin: 0;
}

.persona-bio p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
}

.persona-info {
  background-color: var(--lightgray);
  border-radius: 1rem;
  padding: 9rem 5rem 0 5rem;
  height: 50rem;
  width: 30rem;
}

@media screen and (min-width: 900px) {
  .persona-info {
    border-radius: 1rem;
    padding: 9rem 3rem 0 3rem;
    height: 48rem;
    width: 100%;
  }
}

.persona-info h4, .persona-info ul {
  align-self: flex-start;
  color: var(--black);
}

.persona-info li {
  line-height: 2rem;
}

.persona-btn {
  margin-top: -4.5rem;
  width: 84%;
}

.quote {
  width: 60%;
  padding-left: 2rem;
}

.quote h4 {
  color: #606060;
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin: 0;
}

.span-img {
  display: flex;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .span-img {
    display: flex;
    padding: 0 14rem;
  }
}

@media screen and (min-width: 1200px) {
  .span-img {
    display: flex;
    padding: 0 4rem;
  }
}

.span-img img {
  width: 50%;
}

@media screen and (min-width: 650px) {
  .span-img img {
    height: 40%;
    padding: 0 1rem;
    width: 50%;
  }
}

.takeaway-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}

.takeaway {
  background-color: var(--lightgray);
  border-radius: 1rem;
  padding: 1rem 4rem 2rem 4rem;
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .takeaway {
    width: 65%;
  }
}

.takeaway h4 {
  color: var(--black);
}

.bottom-nav {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.bottom-nav a:active, .bottom-nav a:link, .bottom-nav a:visited {
  color: var(--red-pink);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  opacity: .8;
}

.bottom-nav i.fas {
  color: var(--red-pink);
  font-size: 1.8rem;
  margin-top: 2rem;
  opacity: .8;
}

.bottom-nav a:hover, .bottom-nav i.fas:hover {
  opacity: 1;
  transition: opacity 0.5s linear;
}

#goTop {
  visibility: hidden;
}

@media screen and (min-width: 900px) {
  #goTop {
    display: block;
    bottom: 1.5rem;
    right: 0;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    padding: 1rem 1.2rem 1rem 1rem;
    background: rgba(38, 70, 77, .1);
    border:none;
    transition: opacity 0.5s linear;
    visibility: visible;
  }

  #goTop.is-visible {
    opacity:1;
  }

  #goTop i.fas {
    color: var(--gray);
    font-size: 2.4rem;
  }
}
