/* colors */
:root {
  --blue: rgba(33, 29, 112, 1);
  --salmon: rgba(232, 100, 100, 1);
  --purple: rgba(99, 43, 91, 1);
  --black: rgba(77, 77, 77, 1);
  --white: rgba(255, 255, 255, .9);
  --fadewhite: rgba(255, 255, 255, .7);
}

/* typography */
h1 {
  color: #fff;
  font-family: "Raleway";
  font-size: 2.8rem;
  line-height: 2.2rem;
}

h2 {
  color: var(--purple);
  font-family: "Raleway";
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  color: var(--black);
  font-family: "Raleway";
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.8rem;
}

h4 {
  color: var(--black);
  font-family: "Raleway";
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1rem;
}

p {
  color: var(--black);
  font-family: "Raleway";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: .8rem;
}

ol, ul {
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}

li {
  color: var(--black);
  font-family: "Raleway";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1rem;
  margin: 1rem 0;
}

.boldtext {
  color: rgba(77, 77, 77, .7);
  font-weight: 700;
  font-size: 2.1rem;
}

a:link {
  text-decoration: none;
}

a:visited, a:active, a:hover {
  color: var(--salmon);
  text-decoration: none;
}

button {
  background-color: rgba(77, 77, 77, 0);
  border: .15rem solid;
  color: var(--salmon);
  font-size: 1.7rem;
  margin: 2rem 0;
  padding: .9rem;
  opacity: 0.8;
  transition: 0.3s;
  width: 100%;
}

button > a:visited, a:link, a:active {
  color: var(--salmon);
}

button:hover {
  opacity: 1}

/* main structure */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(0deg, rgba(99,43,91,1) 0%, rgba(33,29,112,1) 100%);
  font-size: 10px;
  font-family: "Montserrat";
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: auto-fit;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  overflow: hidden;
  place-items: stretch stretch;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  grid-area: nav;
  margin: 2rem;
}

.logo {
  width: 4.2rem;
}

.navlinks a:link, .navlinks a:visited, .navlinks a:active {
  color: var(--white);
  margin-left: 2rem;
}

.navlinks a:hover {
  border-bottom: .2rem solid var(--salmon);
  transition: 0.3s;
  text-decoration: none;
}

.hero-home {
  margin: 12rem 2.4rem 3rem 2.4rem;
}

.hero-header {
  display: inline-block;
  line-height: 4.5rem;
  margin-right: .5rem;
}

.hero-subheader {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.work {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 5rem 2.4rem;
  margin-top: 10rem;
}

.work h2, .work h3, .work p {
  color: var(--white);
}

.work:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  background: rgba(62, 32, 104, 0.95);
  padding: 2.5rem 4rem;
}

.mockup {
  height: 100%;
  margin-bottom: 2.4rem;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

footer {
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  margin-top: 8rem;
  height: 12rem;
  bottom: 0;
}

.chat-bubble {
  top: -3.8rem;
  padding-left: 2.4rem;
  margin-left: -17rem;
  position: relative;
}

.connect-icons {
  position: absolute;
}

footer > ul > li {
  display: inline-block;
  margin: 1rem;
}

i.fas, i.fab {
  color: var(--fadewhite);
  font-size: 3rem;
}

i.fas:hover, i.fab:hover {
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
}

/* case study structure */
main {
  grid-template-columns: auto-fit;
  overflow: hidden;
  place-items: stretch stretch;
  grid-area: content;
  grid-template-areas:
    "hero"
    "project-info"
    "sub-menu"
    "case-study"
}

.hero {
  grid-area: hero;
  margin: 0 2.4rem;
}

.project-info {
  background: var(--white);
  color: var(--blue);
  display: flex;
  justify-content: space-around;
  font-family: "Raleway";
  font-size: 1.6rem;
  font-weight: 300;
  grid-area: project-info;
  line-height: 2.4rem;
  margin: 1rem 0;
  padding: 2rem 2.4rem 0 2.4rem;
}

.case-study {
  background: var(--white);
  grid-area: case-study;
  padding: 2rem 2.4rem;
}

.case-study h2, h3 {
  color: var(--black);
  margin: 2rem 0 1rem 0;
}

.case-study h4, p {
  color: var(--black);
}

.case-study img {
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 2rem;
}

.sub-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--blue);
  grid-area: sub-menu;
  margin: 2rem 0;
}

.sub-menu li {
  color: var(--fadewhite);
  font-weight: 500;
  line-height: .8rem;
}

.sub-menu a:visited, .sub-menu a:link {
  color: var(--fadewhite);
  font-weight: 500;
}

.sub-menu a:hover, .sub-menu a:active {
  color: var(--white);
  font-weight: 600;
  transition: 0.5s;
}

.bottom-nav {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.bottom-nav a:link, .bottom-nav a:active, .bottom-nav a:visited {
  color: var(--salmon);
  font-size: 1.6rem;
  opacity: .8;
}

.bottom-nav a:hover {
  opacity: 1;
  transition: .3s;
}
