header {
  background: url("../Images/hero-coral.jpg") center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(170, 100%, 12%);
  font-weight: bold;
}

.slogan {
  color: hsla(170, 100%, 12%);
  font-weight: lighter;
  font-size: 1.6rem;
}

body {
  padding-bottom: 5rem;
}

main {
  max-width: 900px;
 }

 .project-description {
   padding-left: 0;
 }

 .project img {
   width: 100%;
 }

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;

}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
