/* colors */
:root {
  --gray: rgba(85,87,87,1);; /* #555757 */
  --forestgreen: rgba(9, 109, 109, 1); /* #085959 */
  --blush: rgba(242, 216, 211);  /* #F2D8D3 */
  --black: rgba(50,52,55,1);; /* #323437 */
  --white: rgba(252, 251, 250, 1); /* #FCFBFA */
  --lightgray: rgba(247,245,245,1);; /* #F7F5F5 */
}

/* typography */
h1 {
  color: var(--gray);
  font-family: "Montserrat";
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.5rem;
}

h2 {
  color: var(--gray);
  font-family: "Montserrat";
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3rem;
}

h3 {
  color: var(--black);
  font-family: "Montserrat";
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

h4 {
  color: var(--black);
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

h5 {
  color: var(--black);
  font-family: "Montserrat";
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 5rem 0 2rem 0;
  text-align: center;
}

p {
  color: var(--black);
  font-family: "Montserrat";
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.2rem;
}

li {
  color: var(--black);
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.3rem;
  margin-top: .5rem;
}

.big-percent {
  color: var(--gray);
  font-size: 2.6rem;
  font-weight: 500;
}

.underline {
  border-bottom: 2px solid;
  line-height: 3rem;
}

/* links */
a:link, a:visited, a:active, a:hover {
  color: var(--redpink);
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  margin: 2rem 0;
  text-align: center;
}

.btn > a {
  color: var(--white);
}

.button {
  background-color: var(--forestgreen);
  border-radius: .1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin: .25rem 0;
  padding: 1rem 2rem;
  text-align: center;
  transition: 0.5s;
  width: 100%;
}

@media screen and (min-width: 300px) {
  .button {
    width: 26rem;
  }
}

.btn-light {
  color: var(--forestgreen);
  text-align: center;
  margin: 1rem 0;
}

.btn-light a {
  color: #fff;
}

.sink {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.sink:hover, .sink:focus, .sink:active {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

/* structure */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: var(--white);
  font-size: 10px;
  font-family: "Montserrat", sans-serif, -apple-system, system-ui, BlinkMacSystemFont;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.container, .cs-container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
  grid-template-columns: auto-fit;
  place-items: stretch stretch;
  overflow: hidden;
}

@media screen and (min-width: 778px) {
  .container {
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "content content content"
      "footer footer footer";
    grid-template-columns: 1fr fit-content(100rem) 1fr;
    grid-template-rows: auto-fit;
  }
}

nav {
  grid-area: nav;
  padding: 1rem 2.4rem;
}

@media screen and (min-width: 800px) {
  nav {
    padding: 1rem 15rem;
  }
}

@media screen and (min-width: 1100px) {
  nav {
    padding: 1rem 35rem;
  }
}

.sticky {
  background: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + header {
  padding-top: 6rem;
}

.sticky + .case-study {
  padding-top: 3rem;
}

.sticky + main {
  padding-top: 10rem;
}

.navlinks {
  display: flex;
  justify-content: space-between;
}

.navlinks li {
  justify-content: center;
}

.navlinks a:link, .navlinks a:visited {
  color: var(--gray);
}

.navlinks a:active, .navlinks a:hover {
  color: var(--forestgreen);
  transition: 0.5s ease-in-out;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
  justify-content: center;
}

.heading-container {
  background-color: var(--lightgray);
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.highlight {
  background-color: var(--blush);
  font-size: 1rem;
	border-radius: 1px;
}

.h-text-homepage {
  color: var(--black);
  font-size: 2.7rem;
  font-weight: 800;
}

.h-text-homepage:hover {
  text-transform: none;
}

.projects-container {
  align-content: center;
  background-color: var(--lightgray);
  display: inline-inline-block;
  padding: 1rem 0;
}

@media screen and (min-width: 600px) {
  .projects-container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding: 1rem 2.4rem 5rem 2.4rem;
  }
}

@media screen and (min-width: 1000px) {
  .projects-container {
    padding: 1rem 20rem 5rem 20rem;
  }
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.9em;
}

.fadeIn-top{
  top: 20%;
}

.main-margin {
  margin-bottom: 12rem;
}

footer {
  align-items: center;
  background: var(--lightgray);
  grid-area: footer;
  display: flex;
  height: 14rem;
  justify-content: center;
  position: relative;
}

footer > ul > li {
  display: inline-block;
  margin: .9rem;
}

.chat-bubble {
  margin-left: -16.5rem;
  position: absolute;
  bottom: 4.5rem;
}

@media screen and (min-width: 700px) {
  .chat-bubble {
    margin-left: -18rem;
  }
}

.connect-icons {
  position: absolute;
}

i.fas, i.fab {
  color: var(--gray);
  font-size: 3.5rem;
  opacity: .8;
}

footer i.fas:hover, footer i.fab:hover {
  opacity: 1;
  transition: 0.7s ease;
}

.caption {
  color: var(--gray);
  font-size: 1.1rem;
  opacity: .8;
  position: absolute;
  top: 10rem;
}

/* HOMEPAGE */
.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  overflow-x: hidden;
  padding: 16rem 2.4rem 0 2.4rem;
}

.hero-container {
  max-width: 40rem;
}

@media screen and (min-width: 800px) {
  .hero {
    margin-bottom: 6rem;
    min-height: 100vh;
    padding: 25rem 15rem 0 15rem;
  }

  .hero-container {
    max-width: 60rem;
  }
}

@media screen and (min-width: 1100px) {
  .hero {
    margin-bottom: 6rem;
    min-height: 100vh;
    padding: 25rem 35rem 0 35rem;
  }

  .hero-container {
    max-width: 70rem;
  }
}

.hero-header {
  color: var(--gray);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
}

@media screen and (min-width: 800px) {
  .hero-header {
    font-size: 4.2rem;
    line-height: 6rem;
  }
}

.hero-bold {
  color: var(--black);
  font-size: 2.8rem;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .hero-bold {
    font-size: 5rem;
  }
}

.hero-subheader {
  color: var(--gray);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  padding-top: .5rem;
}

@media screen and (min-width: 800px) {
  .hero-subheader {
    font-size: 2.7rem;
    line-height: 4.5rem;
  }
}

.sub-bold {
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  .sub-bold {
    font-size: 3rem;
  }
}

.logo {
  position: absolute;
  right: 14rem;
  top: 17.5rem;
  width: 9rem;
}

@media screen and (min-width: 800px) {
  .logo {
    position: absolute;
    right: 34rem;
    top: 19rem;
    width: 20rem;
  }
}

.see-work {
  display: flex;
  flex-direction: column;
  opacity: .7;
  margin-top: 5rem;
  position: relative;
  text-align: center;
}

.see-work:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.project {
  background-color: var(--white);
  padding: 5rem 2rem 7rem 2rem;
}

@media screen and (min-width: 600px) {
  .project {
    align-items: center;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .proj-col1 {
    flex: 1 1 0;
  }

  .proj-col2 {
    flex: 1 1 0;
    padding-left: 3rem;
  }

  .proj-btn {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .project {
    padding-left: 24rem;
    padding-right: 24rem;
  }
}

.project h2 {
  color: var(--gray);
  font-size: 3rem;
  text-align: left;
}

.project h3 {
  color: var(--gray);
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: left;
}

.project p {
  text-align: left;
}

.mockup {
  max-width: 100%;
  text-align: center;
}

.example-image {
  max-width: 351px;
}

@media screen and (min-width: 700px) {
  .example-image {
    max-width: 100%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ABOUT PAGE */
.intro-container-small {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.intro-container-small img {
  width: 100%;
}

.intro-container-large {
  display: none;
}

@media screen and (min-width: 601px) {
  .intro-container-small {
    display: none;
  }

  .intro-container-large {
    align-items: center;
    justify-content: center;
    background-image: url("../images/about-bg-translucent.png");
    display: flex;
    height: 85vh;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.intro {
  padding: 0 2.4rem;
}

.intro h1 {
  color: var(--black);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 7rem;
  margin-top: 1.8rem;
}

.intro p {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
}

@media screen and (min-width: 601px) {
  .intro {
    max-width: 70rem;
  }

  .intro h1 {
    font-size: 3.6rem;
    color: var(--black);
    font-weight: 600;
    line-height: 8rem;
  }

  .intro p {
    color: var(--black);
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 2.8rem;
  }
}

.resume-btn {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}

.bio-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bio {
  padding: 0 2.4rem;
}

@media screen and (min-width: 601px) {
  .bio {
    max-width: 70rem;
    padding: 4rem 2.4rem 14rem 2.4rem;
  }
}


.bold-text {
  color: var(--forestgreen);
  font-size: 2rem;
  font-weight: 500;
  padding-right: .3rem;
}

.bio p {
  color: var(--black);
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

/* CONTACT PAGE */
.contact {
  margin: 2rem 2.4rem;
}

@media screen and (min-width: 451px) {
  .contact {
    display: grid;
    grid-template-areas:
      ". heading ."
      ". form .";
    grid-template-columns: 1fr fit-content(34rem) 1fr;
    grid-template-rows: auto-fit;
    margin-top: 6rem;
    place-items: stretch stretch;
  }
}

.contact-greeting {
  color: var(--black);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  grid-area: heading;
}

form {
  grid-area: form;
  padding-top: 1rem;
}

input {
  background-color: var(--lightgray);
  border: 0px;
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 300;
  height: 3.2rem;
  margin: .5rem 0;
  padding: 1rem;
  width: 100%;
}

textarea {
  background-color: var(--lightgray);
  border: 0px;
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 300;
  height: 12rem;
  padding: 1rem;
  margin: .5rem 0;
  resize: vertical;
  width: 100%;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background-color: #fff;
}

.msg-btn {
  border: 0;
  color: var(--white);
  margin-top: 1rem;
  width: 100%;
}
