/* colors */
:root {
  --blue: rgba(26, 23, 89, 1);
  --salmon: rgba(232, 100, 100, 1);
  --purple: rgba(89, 33, 81, 1);
  --black: rgba(77, 77, 77, 1);
  --white: rgba(255, 255, 255, 1);
  --fadewhite: rgba(255, 255, 255, .7);
}

/* typography */
h1 {
  color: #fff;
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
}

h2 {
  color: var(--white);
  font-family: "Poppins";
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3rem;
}

h3 {
  color: var(--black);
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin: 1.4rem 0;
}

h4 {
  color: var(--white);
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
}

p {
  color: var(--black);
  font-family: "Raleway";
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

li {
  color: var(--black);
  font-family: "Raleway";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.boldtext {
  font-size: 2.6rem;
  font-weight: 500;
}

.underline {
  border-bottom: 2px solid;
}

/* links */
a:link, a:visited, a:active, a:hover {
  color: var(--salmon);
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
}

.btn {
  text-align: center;
  margin: 2rem 0;
}

.button {
  background-color: rgba(77, 77, 77, 0);
  border: .17rem solid;
  color: var(--salmon);
  cursor: pointer;
  display: inline-block;
  font-size: 1.7rem;
  padding: .8rem 2rem;
  text-align: center;
  transition: 0.5s;
  width: 100%;
  white-space: nowrap;
}

@media screen and (min-width: 501px) {
  .button {
    width: 24rem;
  }
}

.sink {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.sink:hover, .sink:focus, .sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}


/* structure */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(0deg, rgba(89, 33, 81, 1) 0%, rgba(26, 23, 89, 1) 100%);
  font-size: 10px;
  font-family: "Poppins", "Raleway";
  margin: 0 auto;
}

.container, .cs-container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
  grid-template-columns: auto-fit;
  place-items: stretch stretch;
}

@media screen and (min-width: 701px) {
  .container {
    grid-template-areas:
      "nav nav nav"
      ". header ."
      "content content content"
      "footer footer footer";
    grid-template-columns: 1fr fit-content(70rem) 1fr;
    grid-template-rows: auto-fit;
    overflow: hidden;
  }
}

nav {
  display: flex;
  grid-area: nav;
  justify-content: space-between;
  margin: 1rem 2.4rem;
}

.logo {
  margin-top: .8rem;
  width: 3.9rem;
}

.stars {
  position: absolute;
  top: 1rem;
  left: 6.8rem;
}

.navlinks {
  display: flex;
  align-items: flex-start;
}

.navlinks a:link, .navlinks a:visited {
  color: var(--white);
  margin-left: 1.4rem;
  opacity: .8;
}

.navlinks a:active, .navlinks a:hover {
  opacity: 1;
  transition: 0.8s ease-in-out;
}

header {
  grid-area: header;
  margin: 0 3.4rem;
}

@media screen and (min-width: 920px) {
  header {
    max-width: 80rem;
  }
}

main {
  grid-area: content;
  justify-content: center;
}

.main-margin {
  margin-bottom: 16rem;
}

footer {
  align-items: center;
  background: black;
  grid-area: footer;
  display: flex;
  height: 14rem;
  justify-content: center;
  position: relative;
}

footer > ul > li {
  display: inline-block;
  margin: 1rem;
}

.chat-bubble {
  margin-left: -17rem;
  padding-left: 2.4rem;
  position: absolute;
  bottom: 6.4rem;
}

.connect-icons {
  position: absolute;
}

i.fas, i.fab {
  color: var(--white);
  font-size: 3.2rem;
  opacity: .9;
}

footer i.fas:hover, footer i.fab:hover {
  opacity: 1;
  transition: 0.5s ease;
}

/* HOMEPAGE */
.hero {
  margin-top: 9rem;
}

@media screen and (min-width: 700px) {
  .hero {
    margin-top: 12rem;
  }
}

.hero-header h1 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .hero-header {
    font-size: 5.5rem;
  }
}

.hero-subheader h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 3rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 700px) {
  .hero-subheader {
    font-size: 4.2rem;
    line-height: 4.4rem;
  }
}

.sub-bold {
  font-weight: 800;
}

.see-work {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  opacity: .8;
  text-align: center;
}

.see-work:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.see-work a {
  color: var(--white);
}

.see-work i.fas {
  font-size: 2.4rem;
}

.project {
  background: rgba(255, 255, 255, .1);
  margin-top: 5rem;
  padding: 3rem;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .project {
    padding: 5rem 9rem 3rem 9rem;
  }
}

@media screen and (min-width: 750px) {
  .project {
    align-items: center;
    display: flex;
    padding: 10rem 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .project {
    padding: 12rem 10rem;
  }
}

.proj-info {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .proj-info {
    max-width: 45%;
    margin: 0;
    padding-left: 4rem;
  }

  .proj-btn {
    width: 100%;
  }
}

.proj-info h2 {
  font-size: 3rem;
  line-height: 1.4rem;
  text-align: left;
}

.proj-info h3 {
  color: var(--white);
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: left;
}

.proj-info p {
  color: var(--white);
  line-height: 1.8rem;
  text-align: left;
}

.mockup {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .mockup {
    max-width: 45rem;
  }
}

/* CASE STUDY PAGE */
.cs-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 4rem;
  text-align: center;
}

@media screen and (min-width: 651px) {
  .cs-header {
    margin: 0 14rem;
  }
}

@media screen and (min-width: 951px) {
  .cs-header {
    margin: 0 20rem;
  }
}

@media screen and (min-width: 1100px) {
  .cs-header {
    margin: 0 28rem;
  }
}

.cs-details {
  margin: 1rem 0;
  text-align: left;
}

.cs-details h1 {
  font-weight: 500;
}

.cs-details h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.cs-top > .mockup {
  width: 100%;
}

.cs-info {
  display: inline-flex;
  grid-area: project-info;
  justify-content: space-between;
  padding: 3rem;
  text-align: left;
}

@media screen and (min-width: 651px) {
  .cs-info {
    justify-content: space-around;
    padding: 3rem 0;

  }
}

.cs-info li {
  color: var(--white);
  font-weight: 200;
}

.case-study-content {
  grid-area: content;
  grid-template-columns: auto-fit;
  grid-template-areas:
    "sub-menu"
    "case-study";
  overflow: hidden;
  place-items: stretch stretch;
}

.sub-menu {
  background: var(--salmon);
  display: flex;
  grid-area: sub-menu;
  justify-content: space-around;
  text-align: center;
}

.sub-menu ul {
  padding: 3rem 2.4rem;
}

@media screen and (min-width: 651px) {
  .sub-menu ul {
    display: flex;
    padding: 1.4rem 2.4rem;
  }
}

.sub-menu li {
  color: var(--fadewhite);
  font-weight: 500;
  line-height: 2rem;
}

@media screen and (min-width: 651px) {
  .sub-menu li {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
  }
}

.sub-menu a:visited, .sub-menu a:link {
  color: var(--white);
  opacity: .8;
}

 .sub-menu a:active, .sub-menu a:hover {
  opacity: 1;
  transition: 0.8s;
}

.case-study {
  background: var(--white);
  grid-area: case-study;
  padding: 2rem 2.4rem 14rem 2.4rem;
}

@media screen and (min-width: 951px) {
  .case-study {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.case-study h2 {
  color: var(--black);
  margin: 1rem 0;
}

.case-study h3,.case-study h4 {
  color: var(--black);
  margin-bottom: .5rem;
  margin-top: 2.5rem;
}

.case-study p {
  color: var(--black);
  line-height: 2.2rem;
  margin-bottom: 1rem;
}

.case-study ol, .case-study ul {
  margin: 0 0 3rem 2rem;
}

.case-study li {
  line-height: 2rem;
  margin: 1rem 0;
}

.case-study img {
  margin-bottom: 1rem;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .col-split {
    display: flex;
    justify-items: flex-start;
  }

  .col1 {
    flex: 1 1 0;
    padding-right: 4rem;
  }

  .col2 {
    align-content: center;
    flex: 1 1 0;
    width: 50%;
  }
}

.col2-shrink img {
  left: 25%;
  width: 50%;
}

@media screen and (min-width: 700px) {
  .col2-shrink img {
    left: 0%;
    width: 70%;
  }
}

.persona-grp {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.persona-grp img {
  width: 10rem;
}

.quote {
  width: 55%;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.quote h4 {
  color: #707070;
  line-height: 2.4rem;
  margin: 1rem 0;
}

.persona-btn {
  width: 100%;
}

.bottom-nav a:link {
  font-size: 1.8rem;
  font-weight: 500;
}

@media screen and (min-width: 650px) {
  .hifi-mockup {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .hifi-mockup {
    padding: 0 12rem;
  }
}

.span-img {
  text-align: center;
}

@media screen and (min-width: 650px) {
  .span-img {
    display: flex;
    padding: 0 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .span-img {
    display: flex;
    padding: 0 16rem;
  }
}

.span-img img {
  width: 50%;
}

@media screen and (min-width: 650px) {
  .span-img img {
    padding: 0 1rem;
    width: 50%;
  }
}

.bottom-nav i.fas {
  color: var(--salmon);
  font-size: 1.8rem;
  margin-top: 2rem;
}

.top-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.top-link i.fas {
  color: var(--salmon);
  font-size: 3rem;
}

/* BIO PAGE */
.bio {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "section1"
    "section2"
    "section3"
    "section4";
  overflow: hidden;
  padding: 0 2.4rem;
  margin-bottom: 10rem;
}

@media only screen and (min-width: 651px) {
  .bio {
    padding: 0 12rem;
  }
}

@media only screen and (min-width: 900px) {
  .bio {
    grid-gap: 3rem 6rem;
    grid-template-areas:
      "section2 section1"
      "section3 section4"
      "section3 section4";
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    grid-template-rows: 28rem 40rem;
    padding: 0 9rem;
    place-items: start stretch;
  }
}

.bio h3 {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: normal;
}

.bio p {
  color: var(--white);
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 400;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: section1;
}

@media only screen and (min-width: 900px) {
  .section1 {
    max-width: 30rem;
  }
}

.section2 {
  grid-area: section2;
}

@media only screen and (min-width: 900px) {
  .section2 {
    max-width: 50rem;
  }
}

.section3 {
  grid-area: section3;
}

@media only screen and (min-width: 900px) {
  .section3 {
    max-width: 50rem;
  }
}

.section4 {
  grid-area: section4;
}

@media only screen and (min-width: 900px) {
  .section4 {
    max-width: 30rem;
  }
}

.profile {
  width: 100%;
}

.resume-btn {
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 449px) {
  .profile {
    width: 27rem;
  }

  .resume-btn {
    width: 27rem;
  }
}

@media only screen and (min-width: 900px) {
  .profile {
    width: 16rem;
  }

  .resume-btn {
    width: 16rem;
  }
}

/* CONTACT PAGE */
.contact {
  margin: 1rem 2.4rem;
}

@media screen and (min-width: 451px) {
  .contact {
    display: grid;
    grid-template-areas:
      ". heading ."
      ". form .";
    grid-template-columns: 1fr fit-content(40rem) 1fr;
    grid-template-rows: auto-fit;
    margin-top: 8rem;
    place-items: stretch stretch;
  }
}

.contact-greeting {
  font-size: 2.4rem;
  font-weight: 400;
  grid-area: heading;
}

form {
  grid-area: form;
  margin-top: 2rem;
}

input {
  background-color: white;
  border: 0;
  font-family: "Raleway";
  font-size: 1.4rem;
  font-weight: 300;
  height: 3.2rem;
  margin: .5rem 0;
  padding: 1rem;
  width: 100%;
}

textarea {
  background-color: white;
  border: 0;
  font-family: "Raleway";
  font-size: 1.4rem;
  font-weight: 300;
  height: 12rem;
  padding: 1rem;
  margin: .5rem 0;
  resize: vertical;
  width: 100%;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: #F0F0F0;
}

.msg-btn {
  width: 100%;
}
