:root {
  --teal: hsla(177, 27%, 51%);
  --lightgreen: hsla(138, 16%, 76%);
  --darkgreen: hsla(177, 24%, 35%);
  --whitegreen: hsla(144, 26%, 93%);
  --rose: hsla(351, 42%, 58%);
  --peach: hsla(9, 57%, 75%);
  --whitepeach: hsla(355, 52%, 96%);
  --grey: hsla(0, 0%, 30%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: url("/images/background.png") center / cover;
  font-size: 10px;
  font-family: "Montserrat";
}

/* typography */
h2 {
  color: var(--rose);
  font-family: "Handlee";
  font-size: 3rem;
  padding: .5rem 0;
}

h3 {
  color: var(--grey);
  font-family: "Montserrat";
  font-size: 1.8rem;
  padding: .5rem 0;
}

p {
  color: var(--grey);
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2rem;
  padding: .5rem 0;
}

a:link {
  color: var(--darkgreen);
}

a:hover {
  color: var(--peach);
}

a:visited {
  color: var(--teal);
}

.greeting {
  font-family: "Handlee";
  font-size: 2.9rem;
}

.slogan {
  color: var(--darkgreen);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 1rem 0 10rem 0;
}

/* assets */
.logo {
  width: 5rem;
  display: inline-block;
  float: left;
}

button {
  color: var(--darkgreen);
  font-size: 1.7rem;
  border: .1rem solid;
  width: 100%;
  padding: .5rem;
}

.hero img {
  display: block;
  float: right;
  position: relative;
  top: -32rem;
  left: 1rem;
  width: 20rem;
  z-index: -1;
}

.project img {
  display: block;
  width: 60%;
  margin: 0 auto;
  position: absolute;
}

i.fas, i.fab {
font-size: 3.2rem;
color: white;
}

/* structure */
.container {
  display: grid;
  grid-template-areas:
    "navbar"
    "hero"
    "projects"
    "footer"
}

nav {
  color: var(--rose);
  font-size: 1.6rem;
  display: inline-block;
  grid-area: navbar;
  height: 8rem;
  margin: 2rem 2.4rem;
  width: 100%;
  position: absolute;
}

nav > ul {
  display: inline-block;
  float: right;
  padding-right: 4.4rem;
}

nav > ul > li {
  float: right;
  display: inline-block;
  padding-left: 2rem;
}

.hero {
  color: var(--darkgreen);
  grid-area: hero;
  padding: 24rem 2.4rem 0 2.4rem;
}

.projects {
  background-color: var(--whitegreen);
  grid-area: project;
  height: 24rem;
  padding: 4rem;
  position: relative;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background-color: hsla(0, 100%, 100%, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  font-weight: lighter;
  padding: 3rem;
  transition: .5s ease;
  visibility: hidden;
}

body {
  color: var(--grey);
}

footer {
  background-color: var(--lightgreen);
  display: inline-block;
  grid-area: footer;
  height: 20rem;
  padding: 0 2.4rem;
  margin-top: 10rem;
}

footer > ul {
  display: inline-block;
}

footer > ul > li {
  color: #ffffff;
  float: center;
  display: inline-block;
  line-height: 20rem;
  padding-right: 1.5rem;
}

.chat {
  /* transform: translate(80%, -30%); (this kind of worked)*/
  float: left;
  position: static;
  top: -3rem;
  left: 7rem;
  width: 15rem;
}

.profile {
  display: inline;
  float: left;
  position: static;
  top: 8rem;
  left: 1rem;
  width: 8rem;
}
